/*--------
    RESET
--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffff;
}

/*--------
    /RESET
--------*/

/*------------
 header
------------*/
header{
background-color: #ff6900;
color: #ffff;
padding: 20px;
}
.row-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin:auto;
}
ul{
    display: flex;
    list-style: none;
}
img.logo{
    max-width: 85px;
    align-self: center;
}

.col-x{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}
.col-x:first-child{
    justify-content: flex-start;

}

.col-x:last-child{
    justify-content: flex-end;
}

.grow{
    flex-grow: 1;
}

li, i{
    margin-left: 10px;
}

/*------------
 /header
------------*/

/*------------
 container cards
------------*/

.container{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}

.card{
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-img{
    position: relative;
}
.heart{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
}

.tags{
    position: absolute;
    left: 0;
    bottom: 50px;
}
.tag{
    color: #ffff;
    padding: 6px;
    font-size: 13px;
    font-weight: bold;
}

.red{
    background-color: #ff0000;
}

.green{
    background-color: #008000;
}

h6{
    font-weight: 800;
}

.price{
    color: red;
    font-weight: bold;
}
.price-strike{
 text-decoration: line-through;
}




/*--------
HOVER
---------*/

.heart:hover{
    color: #ff0000;
}

.img2{
    display: none;
}

.card:hover .img1{
    display: none;
}
.card:hover .img2{
    display: inline;
}
